# package directories
lib
node_modules
.vscode
jspm_packages

# Serverless directories
.serverless

## Compiled JavaScript files
**/*.js
**/*.js.map

# Firebase
firebase-debug.log
database-debug.log
ui-debug.log

# Other
